<header class="header">
    <div class="logo-container">
        <h1 class="logo-title">Predict RU</h1>
        <p class="logo-subtitle">Projeto de PSDI 1</p>
    </div>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="consultasRelatorios.html" class="nav-link">Consultas e Relatórios</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Tíquetes RU</a></li>
            <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Sair</a></li>
        </ul>
    </nav>
</header>