<header class="header">
    <div class="logo-container">
        <logo [width]="50"></logo>
        <h1 class="logo-title">Predict RU</h1>
    </div>
    <nav class="main-nav">
        <ul class="nav-list">
            <li *ngIf="isLoggedIn" class="nav-item">
                <a routerLink="index" routerLinkActive="active" class="nav-link">Home</a> <!-- corrigido -->
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a routerLink="avaliacao" routerLinkActive="active" class="nav-link">Avaliação da Refeição</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a routerLink="cardapio" routerLinkActive="active" class="nav-link">Cardápio</a>
            </li>
            <li class="nav-item">
                <a routerLink="grafico" routerLinkActive="active" class="nav-link">Gráfico de frequência</a>
            </li>
            <li *ngIf="!isLoggedIn" class="nav-item">
                <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a routerLink="cadastro/editar_usuario" routerLinkActive="active" class="nav-link" style="cursor: pointer;">Usuário</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a (click)="logout()" routerLinkActive="active" class="nav-link" style="cursor: pointer;">Sair</a>
            </li>
        </ul>
    </nav>
</header>