.header {
    background-color: #0B2640;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin-bottom: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 2px 0;
    gap: 5px;
}

.logo-title {
    margin: 0;
    font-size: 24px;
}

.logo-subtitle {
    margin: 0;
    font-size: 14px;
}

/* .main-nav {
    padding: 10px 0;
} */

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 5px;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.nav-link:hover {
    background-color: white;
    color: #0B2640;
    border-radius: 5px;
    cursor: pointer;
}

.nav-link:active {
    transform: translateY(2px);
    background-color: #d8d8d8;
}

.logo-container h1 {
    font-weight: bold;
}