<header class="header">
    <div class="logo-container">
        <h1 class="logo-title">Predict RU</h1>
        <p class="logo-subtitle">Projeto de PSDI 1</p>
    </div>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="consulta-relatorios" class="nav-link">Consultas e Relatórios</a>
            </li>
            <li class="nav-item">
                <a routerLink="tiquetes" class="nav-link">Tíquetes RU</a>
            </li>
            <li class="nav-item">
                <a routerLink="login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <!-- fazer virar botão -->
                <a routerLink="sair" class="nav-link">Sair</a>
            </li>
        </ul>
    </nav>
</header>