<h3 class="mt-4">Cardápio da Semana</h3>
<div class="alert alert-success mt-3" *ngIf="corretoSalvar">{{ corretoSalvar }}</div>
<h6>Códigos dos Dias</h6>
<table class="table  mx-auto tabela-customizada table-bordered mt-3">
    <thead class="thead-light">
      <tr>
        <th style="width: 30%;">Dia</th>
        <th style="width: 30%;">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Segunda-Feira</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Terça-Feira</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Quarta-Feira</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Quinta-Feira</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Sexta-Feira</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Sábado</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Domingo</td>
        <td>7</td>
      </tr>
    </tbody>
</table>
<table class="table table-bordered mt-3">
    <thead class="thead-light">
        <tr>
            <th>Dia</th>
            <th>Almoço</th>
            <th>Jantar</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dia of cardapioAgrupado; let i = index">
            <td>{{ dia.diaSemana }}</td>
            <td>{{ dia.almoco || 'Não disponível' }}</td>
            <td>{{ dia.jantar || 'Não disponível' }}</td> 
            <td>
                <button class="btn btn-primary" (click)="toggleDetalhes(i)">Detalhes</button>
            </td>
        </tr>
        <tr *ngIf="isDetalheAtivo()">
            <td colspan="4">
                <div class="container">
                    <h4>Horários Disponíveis para {{ diaSelecionado?.diaSemana }}</h4>

                    <h6>Confira sempre a Tabela Códigos dos Dias acima para confirmar no Dia certo!</h6>

                    <div class="alert alert-danger mt-3" *ngIf="erroSalvar">{{ erroSalvar }}</div>
                    <div class="mb-3">
                        <h6>Almoço:</h6>
                        <div class="btn-group-vertical" role="group">
                            <button *ngFor="let horario of getHorariosAlmoco()" class="btn btn-outline-primary mb-1"
                                (click)="selecionarHorario('almoco', horario)"
                                [class.active]="horarioSelecionado.almoco === horario">
                                {{ horario }}
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h6>Jantar:</h6>
                        <div class="btn-group-vertical" role="group">
                            <button *ngFor="let horario of getHorariosJantar()" class="btn btn-outline-primary mb-1"
                                (click)="selecionarHorario('jantar', horario)"
                                [class.active]="horarioSelecionado.jantar === horario">
                                {{ horario }}
                            </button>
                        </div>
                    </div>
                    <div *ngIf="horarioSelecionado.almoco || horarioSelecionado.jantar" class="alert alert-info">
                        <p *ngIf="horarioSelecionado.almoco"><strong>Almoço selecionado:</strong> {{
                            horarioSelecionado.almoco }}</p>
                        <p *ngIf="horarioSelecionado.jantar"><strong>Jantar selecionado:</strong> {{
                            horarioSelecionado.jantar }}</p>
                    </div>

                    <button class="btn btn-success me-2" (click)="confirmarHorarios()" [disabled]="votoFeito"
                        [disabled]="!horarioSelecionado.almoco && !horarioSelecionado.jantar">
                        Confirmar
                    </button>

                    <button class="btn btn-danger me-2" (click)="toggleDetalhes(null)">Fechar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>