<header class="header">
    <div class="logo-container">
        <logo [width]="50"></logo>
        <h1 class="logo-title">Predict RU</h1>
    </div>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="avaliacao" class="nav-link">Avaliação da Refeição</a>
            </li>
            <li class="nav-item">
                <a routerLink="cardapio" class="nav-link">Cardápio</a>
            </li>
            <li class="nav-item">
                <a routerLink="grafico" class="nav-link">Gráfico de frequência</a>
            </li>
            <li class="nav-item">
                <a routerLink="login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="cadastro" class="nav-link">Cadastro</a>
            </li>
            <li class="nav-item">
                <a routerLink="sair" class="nav-link">Sair</a>
            </li>
        </ul>
    </nav>
</header>