html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex; /* Adicionado para permitir o uso de flexbox */
    flex-direction: column; /* Coloca os elementos em coluna */
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura total da tela */
}

main {
    padding: 20px;
    text-align: center;
    flex: 1; /* Adicionado para ocupar o espaço restante */
}

.welcome h2 {
    font-size: 26px;
    color: #0B2640;
}

.welcome p {
    font-size: 18px;
    color: #333;
}